{% if page.header %}
    <header>
        {{ page.header }}
    </header>
{% endif %}

{{ page.breadcrumb }}

<main role="main">
    <div class="container py-5">
        {{ page.content }}
    </div>
</main>

{% if page.footer %}
    <footer>
        {{ page.footer }}
    </footer>
{% endif %}
