.btn {
  @apply cursor-pointer inline-flex appearance-none items-center justify-center border text-center transition-all duration-500 ease-in-out rounded-xl;
  .content {
    @apply flex;
  }
}

.btn-fill {
  background-color: var(--color-adsy-tottenham-blue);
  border-color: var(--color-adsy-tottenham-blue);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-adsy-tottenham-blue);
    border-color: var(--color-adsy-tottenham-blue);
    color: var(--color-white);
  }
  &:focus {
    @apply ring ring-gray-100;
  }
}
.btn-outline {
  background-color: var(--color-white);
  border-color: var(--color-adsy-tottenham-blue);
  color: var(--color-adsy-tottenham-blue);
  &:hover {
    background-color: var(--color-adsy-tottenham-blue);
    border-color: var(--color-adsy-tottenham-blue);
    color: var(--color-white);
  }
  &:focus {
    @apply ring ring-gray-100;
  }
}

.btn-sm {
  @apply min-h-7 text-sm font-normal py-1 px-2;
  .content {
    @apply gap-1;
  }
  .icon {
    @apply h-4 w-4 stroke-current stroke-1;
  }
}
.btn-md {
  @apply min-h-8 text-base font-normal py-1 px-3;
  .content {
    @apply gap-2;
  }
  .icon {
    @apply h-5 w-5 stroke-current stroke-1;
  }
}
.btn-lg {
  @apply min-h-10 text-lg font-normal py-2 px-3;
  .content {
    @apply gap-2;
  }
  .icon {
    @apply h-6 w-6 stroke-current stroke-1;
  }
}
.btn-xl {
  @apply min-h-12 text-xl font-normal py-2 px-4;
  .content {
    @apply gap-2;
  }
  .icon {
    @apply h-6 w-6 stroke-current stroke-1;
  }
}

.btn-adsy-light-blue {
  background-color: var(--color-adsy-light-blue);
  border-color: var(--color-adsy-light-blue);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-adsy-light-blue);
    border-color: var(--color-adsy-light-blue);
    color: var(--color-white);
  }
  &.btn-outline {
    background-color: var(--color-white);
    border-color: var(--color-adsy-light-blue);
    color: var(--color-adsy-light-blue);
    &:hover {
      background-color: var(--color-adsy-light-blue);
      border-color: var(--color-adsy-light-blue);
      color: var(--color-white);
    }
    &:focus {
      @apply ring ring-gray-100;
    }
  }
}
.btn-adsy-blue {
  background-color: var(--color-adsy-blue);
  border-color: var(--color-adsy-blue);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-adsy-blue);
    border-color: var(--color-adsy-blue);
    color: var(--color-white);
  }
  &.btn-outline {
    background-color: var(--color-white);
    border-color: var(--color-adsy-blue);
    color: var(--color-adsy-blue);
    &:hover {
      background-color: var(--color-adsy-blue);
      border-color: var(--color-adsy-blue);
      color: var(--color-white);
    }
    &:focus {
      @apply ring ring-gray-100;
    }
  }
}
.btn-adsy-tottenham-blue {
  background-color: var(--color-adsy-tottenham-blue);
  border-color: var(--color-adsy-tottenham-blue);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-adsy-tottenham-blue);
    border-color: var(--color-adsy-tottenham-blue);
    color: var(--color-white);
  }
  &.btn-outline {
    background-color: var(--color-white);
    border-color: var(--color-adsy-tottenham-blue);
    color: var(--color-adsy-tottenham-blue);
    &:hover {
      background-color: var(--color-adsy-tottenham-blue);
      border-color: var(--color-adsy-tottenham-blue);
      color: var(--color-white);
    }
    &:focus {
      @apply ring ring-gray-100;
    }
  }
}
.btn-adsy-dark-blue {
  background-color: var(--color-adsy-dark-blue);
  border-color: var(--color-adsy-dark-blue);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-adsy-dark-blue);
    border-color: var(--color-adsy-dark-blue);
    color: var(--color-white);
  }
  &.btn-outline {
    background-color: var(--color-white);
    border-color: var(--color-adsy-dark-blue);
    color: var(--color-adsy-dark-blue);
    &:hover {
      background-color: var(--color-adsy-dark-blue);
      border-color: var(--color-adsy-dark-blue);
      color: var(--color-white);
    }
    &:focus {
      @apply ring ring-gray-100;
    }
  }
}