@font-face {
  font-family: RobotoMono;
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/RobotoMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: RobotoMono;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: RobotoMono;
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/RobotoMono-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: RobotoMono;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/RobotoMono-Bold.ttf") format("truetype");
}