header {
  @apply bg-adsy-tottenham-blue;
  nav {
    @apply container flex flex-col md:flex-row gap-4 md:gap-10 py-5 md:justify-between md:items-center text-white;
    ul {
      @apply flex flex-wrap flex-col md:flex-row gap-4 md:gap-10;
    }
  }
}