.outils {
  @apply grid grid-cols-1 items-center md:justify-items-center gap-12;
  .sous-outils {
    @apply grid grid-cols-3 md:grid-cols-8 items-center justify-items-center gap-2 md:gap-6;
    img {
      @apply w-10 md:w-12;
    }
  }
}