@theme {
  --color-adsy-dark-blue: #0D243D;
  --color-adsy-tottenham-blue: #132257;
  --color-adsy-blue: #9BCBFF;
  --color-light-blue: #CDE5FF;

  --font-sans: "RobotoMono", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}