@theme {
  --color-adsy-dark-blue: #0D2444;
  --color-adsy-tottenham-blue: #132257;
  --color-adsy-blue: #9BCBFF;
  --color-adsy-light-blue: #CDE5FF;
  --color-white: #FFFFFF;

  --font-sans: "RobotoMono", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}