h1 {
  @apply text-2xl md:text-3xl lg:text-4xl leading-[1.35] font-bold;
}

h2 {
  @apply text-xl md:text-2xl lg:text-2xl leading-[1.25] font-semibold;
}

h3 {
  @apply text-lg md:text-xl lg:text-xl leading-[1.15];
}

h4 {
  @apply text-lg md:text-lg lg:text-xl leading-[1.10];
}

body, p {
  @apply text-sm md:text-base lg:text-lg;
}
