@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts";
@import "links";
@import "buttons";

@import "layout";
@import "header";
@import "footer";

@import "article";

@config "../../tailwind.config.js"