// base
@import "abstracts/colors";
@import "abstracts/variables";
@import "abstracts/fonts";

// bootstrap
@import "bootstrap/scss/bootstrap";

// components
@import "components/image";
@import "components/ckeditor";

// layout
@import "layout/header";
@import "layout/article";