<div class="tab-pane competences fade {{ paragraph.index is same as 0 ? 'show active' }}"
     id="p-{{ paragraph.id() }}"
     role="tabpanel"
     aria-labelledby="p-{{ paragraph.id() }}-tab"
>
    {{ content.field_competences }}
</div>