{% import _self as menus %}

<nav>
    <a href="/" class="link">
        <span class="text-2xl font-semibold">{ Adsy }</span>
    </a>
    {{ menus.menu_links(items, attributes, 0) }}
</nav>

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul>
        {% else %}
            <ul>
        {% endif %}
        {% for item in items %}
            {% set classes_link = [
                'link link-white',
                item.is_expanded ? 'dropdown-toggle',
                item.is_collapsed ? 'dropdown-toggle',
                item.in_active_trail ? 'active',
            ] %}
            <li>
                {{ link(item.title, item.url, { 'class': classes_link }) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
