<a href="{{ url }}" class="card-article">
    <div class="card-img">
        {{ content.field_vignette }}
    </div>
    <div class="card-content">
        <span class="date">{{ node.getCreatedTime()|date('d/m/Y') }}</span>
        <h3>{{ label }}</h3>
    </div>
</a>