/* ----------------------- Lato ----------------------- */

/* Lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}

/* Lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
}

/* Lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

/* Lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

/* Lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

/* Lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

/* ----------------------- Rubik ----------------------- */

/* Rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Rubik-Light.ttf') format('truetype');
}

/* Rubik-300italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Rubik-LightItalic.ttf') format('truetype');
}

/* Rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

/* Rubik-italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Rubik-Italic.ttf') format('truetype');
}

/* Rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

/* Rubik-700italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Rubik-BoldItalic.ttf') format('truetype');
}


$font-family-base: 'Lato', Arial, Helvetica, sans-serif;

.fw-rubik {
  font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
}