.tab-pane.competences {
  &.active {
    display: flex;
    flex-wrap: wrap;
  }

  .competence {
    .note-competence {
      width: 3.5rem;
      .progressbar-text {
        font-size: 12px;
      }
    }
    .libelle {
      font-size: 14px;
    }
  }
}